.cardCart{
    width: 100%;
    height: 200px;
    box-shadow: 0 15px 30px 1px grey;
    border-radius:10px;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.productInCart{
    width: 100%;
    padding: 5px 50px 5px 50px;
}

.titleCart{
    font-size:70px;
    font-weight:700;
    text-align: center;
}

.cardCart img{
    height:100%;
    display: flex;
}

.cardCart .removeItem{
    cursor: pointer;
    font-size: 30px;
}

.cartVacio{
    position: absolute;
    margin-top: 10px;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}

.totalDeCompra{
    font-size: 25px;
}

.imgCartVacio{
    width: 400px;
    height: 500px;
    background-image: url("../Cart/addToCart.svg");
    background-position: center;
    background-size: cover;
    text-align: center;
}

.titleCartVacio{
    width:500px;
    height:500px;
    font-size:70px;
    font-weight:700;
    padding-top: 80px;
    color:black;
    background:#EAEDED;
    padding:1%;
}

.cardProductBody{
    padding: 15px;
}

.headerCart{
    color: #fff;
    font-weight: 700;
    font-size:24px;
    background: #ff6347;
    width: 100%;
    position:fixed;
    height:75px;
    top: 0;
    left: 0;
    display:flex;
    flex-direction:column;
    align-items:center;
    justify-content:center;
}

