.itemDetail{
    transition: all 0.5s ease;
    display:flex;
    justify-content:center;
    align-items:center;
}

.boxItemDetail{
    display:flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding: 4%;
}

.counterContainer{
    display: flex;
    flex-direction: row;
}

.boxImg{
    max-width: 500px;
    max-height: 500px;
    margin-right: 20px;
}

.boxImg img{
    width: 100%;
    height: 100%;
}

.descriptionDetail{
    font-size: 34px;
    font-weight: 700;
}
.priceCardDetail{
    font-size: 28px;
    font-weight: 700;
}
.buttonBox{
    width: 100%;
    margin-top: 30px;
}

.boxDescription{
    padding-left: 20px;
    padding-right: 20px;
    width: 40%;
}

.boxDescription .priceCardDetail{
    padding-top: 30px;
}


.counterDetail .counterContainer{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.counterDetail .counter{
    width: 50%;
    margin-top: 20px;
    margin-bottom: 20px;
    height:25px;
}

.itemList{
    padding: 0%;
}

@media  only screen and (max-width: 320px) {
    .boxImg {
        width: 100%;
    }

    .boxImg img{
        border-radius: 20px;
    }
    .itemDetail{
        padding-top: 10px;
    }
    .boxItemDetail{
       flex-direction: column;
    }
    .boxDescription{
        width: 100%;
    }
}
