.barsMenu{
    display:none;
}

.findProduct{
    background:transparent;
    border-bottom: solid 1px;
    width: 200px;
    height: 28px;
}


nav{
    width: 100%;
    background: linear-gradient(to right, #fffec6, #fbd786, #f7797d);
    height:60px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    box-shadow: 0 2px 2px 0 rgb(50 50 50 / 15%);
    z-index: 10;
}

.imgContainer{
    width: 200px;
}

nav img{
    max-width: 180px;
}

ul{
    margin: 0;
    padding: 0;
}

.buttonsMenu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.list{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.listArt{
    margin: 10px;
}

.iconsNav{
    margin: 10px;
    font-size: 1.5rem;
    color: black;
}

li{
    cursor: pointer;
}

ol li{
    float: left;
    padding: 10px;
    display: none;
}

@media (max-width:425px) {

    nav{
        flex-direction: column;
        height: 150px;
        width: 100%;
        z-index: 20;
    }


    .buttonsMenu input {
        display: none;
    }

    .findProduct{
        display: none;
    }

    .listContainer{
        position: absolute;
        height: 100vh;
        bottom: 0;
        width: 70%;
        background: linear-gradient(to right, #fffec6, #fbd786, #f7797d);
        bottom: 0px;
        left: -100%;
        transition: all 0.5s ease;
        z-index: 30;
    }

    .hiddenMenu{
        left: 0;
    }

    .list{
        padding-right: 10px;
        padding-top: 20px;
        justify-content: center;
        align-items:flex-end;
        flex-direction: column;
        z-index: 99;
    }

    .barsMenu{
        position: absolute;
        top: 12px;
        left: 10px;
        display:block;
        background: transparent;
        z-index: 99;
    }

    nav button{
        align-items: flex-end;
    }

    
}
