*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}

.findProduct{
    border-radius:  10px;
    border: solid 1px;
    padding: 10px;
    width: 400px;
}

nav{
    padding: 10px;
    background: linear-gradient(to right, #fffec6, #fbd786, #f7797d);
    width:100%;
    height:100px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav img{
    height:100%;
}

.list{
    display: flex;
}

.listArt{
    margin: 10px;
    font-size:24px;
}

li{
    cursor: pointer;
}