.carrito{
    display: flex;
    flex-direction:row;
}

.iconsNav{
    cursor: pointer;
}

.cartContainer{
    padding:10px;
    position: fixed;
    display: flex;
    flex-direction:column;
    justify-content: center;
    height:100%;
    width:500px;
    background: white;
    bottom: 0px;
    right: -500px;
    transition: all 0.8s ease;
    z-index: 3;
    transform: scaleX(0);
}

.hiddenContainer{
    right: 0;
    transform: scaleX(1);
}


.closeCart{
    top: 30px;
    left: 10px;
    font-size: 25px;
    position: fixed;
    cursor: pointer;
}