@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;500;700&display=swap');
*{
	margin: 0;
	padding: 0;
	list-style: none;
	text-decoration: none;
	border: none;
	outline: none;
}


.ItemListContainer{
  background-color:#fff;
  width: 100%;
}

body{
	font-family: 'Raleway', sans-serif;
	font-weight: 500;
}

a{
	text-decoration: none;
	color:black;
}

footer{
	background: #ff6347 ;
	margin-top:50px;
}

