.counter{
    font-weight: bold;
    background: #fff;
    color: blue;
    width: 10rem;
    height: 3rem;
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

.counter button {
    background: transparent;
    font-size: 1.5rem;
}